@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast &ndash; Blazor Hosted WASM App</h1>

<FetchDataComponent Data="https://raw.githubusercontent.com/justinyoo/blazor-hosting-model-sample/main/src/HostedWasm/wwwroot/sample-data/weather.json" />
